.container-fluid {
  .viewBtn:hover {
    background-color: #009FDB;
    border-color: #009FDB;
  }
  .dropdownList {
    padding-top: 12px;
    float: right;
    margin: 5px 2px;
  }
  .heading {
    display: flex;
    align-items: flex-end;
    padding: 0 30px;
    >span {
      flex: 1;
      padding-top: 20px;
      font-size: 25px;
      color: #ea7400;
      cursor: default;
    }
    >se-dropdown-menu /deep/ .dropdown {
      min-width: 270px;
    }
  }
  .row+.row {
    display: flex;
    flex-direction: row-reverse;
  }
}

.dataTableStyles /deep/ {
  .data-table-box table tr {
    display: flex;
    display: -ms-flexbox;
  }
  .data-table-box table thead {
    background-color: #5a5a5a;
    color: #f2f2f2;
    cursor: default;
  }
  .data-table-box table tr th {
    flex: 3;
    border: none;
    width: 100%;
    display: inline-block;
  }
  .data-table-box table tr th:first-child {
    flex: 1;
    order: 5;
    -ms-flex-order: 5;
  }
  .data-table-box table tr th:nth-child(3) {
    flex: 1;
  }
  .data-table-box table tr td {
    flex: 3;
    border: none;
    width: 100%;
    display: inline-block;
  }
  .data-table-box table tr td:first-child {
    flex: 1;
    order: 5;
    -ms-flex-order: 5;
  }
  .data-table-box table tr td:nth-child(3) {
    flex: 1;
  }
  th.column-subAccountName span.column-sort-icon {
    display: none;
  }
  th.column-subAccountName span:nth-child(1):after {
    content: "\e900" !important;
    font-family: 'sorting-icon' !important;
    margin-left: 11px;
    color: #959595;
    cursor: pointer;
  }
  /* Fix for specific to IE11 */
  @media all and (-ms-high-contrast:none) {
     ::-ms-backdrop,
    thead .column-subAccountName {
      cursor: pointer;
    }
    /* IE11 */
  }
  td.column-fullAddress div {
    width: 80%
  }
  .row-odd {
    background-color: #f2f2f2;
  }
  .icon-arrow_down,
  .icon-carrot_up {
    font-size: 15px;
  }
  .data-table-box table tr td input[type="checkbox"] {
    display: none;
  }
  .input-assumpte+label {
    background-color: #fafafa;
    border: 3px solid white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px black, inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 6px;
    position: relative;
    -webkit-appearance: none;
    cursor: pointer;
  }
  .input-assumpte:checked+label {
    background-color: #595959;
    color: #595959;
    content: '\2714';
    font-size: 10px;
  }
  /* Fix for specific to IE11 */
  @media all and (-ms-high-contrast:none) {
     ::-ms-backdrop,
    .input-assumpte+label {
      box-shadow: 0px 0px 4px black, inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    }
    /* IE11 */
  }
}