@import "sb-variables.less";
/*
 * HEADER
 * They are included in every pages
 */

// ".bui-background-image-gradient-fn" below is a temporary one. Actual mixin is written in base.less file... (do not include base.less file in here..)
.bui-background-image-gradient-fn(@startColorstr, @endColorstr) {
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = @startColorstr, endColorstr = @endColorstr, GradientType = 0);*/
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, @startColorstr), color-stop(50%, @startColorstr), color-stop(52%, @endColorstr), color-stop(100%, @endColorstr));
    background-image: -webkit-linear-gradient(top, @startColorstr 20%, @startColorstr 50%, @endColorstr 52%, @endColorstr 100%);
    background-image: -moz-linear-gradient(top, @startColorstr 20%, @startColorstr 50%, @endColorstr 52%, @endColorstr 100%);
    background-image: -o-linear-gradient(top, @startColorstr 20%, @startColorstr 50%, @endColorstr 52%, @endColorstr 100%);
    background-image: linear-gradient(@startColorstr 20%, @startColorstr 50%, @endColorstr 52%, @endColorstr 100%);

    /*test Add for IE7-8*/
/* IE6-8*/
    -pie-background: linear-gradient(left, @startColorstr, @endColorstr);
    behavior: url( /businessoffers/web/css/pie/PIE.htc );
    position: relative;
}

#att-header {
    @header-height: 50px;
    height: @header-height;
    width: 100%;
    top: 0px;
    z-index: 9999;
    position: fixed;

    color: @GLOBAL_DEFAULT_HEADER_FOOTER_COLOR;
    background-color: @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND;

/*Need to be removed*/
    vertical-align: middle;
    line-height: @header-height;
    text-align: center;
    
   

    .wrapper-header {
        margin: 0 auto;

        .placeholder-img{
			vertical-align: top;
		}

    /*
    Overrite choosen background color
    */
        .chzn-container .chzn-results-scroll-down span {
            background: url('../images/chosen-sprite-white.png') no-repeat -4px -3px;
        }
        .chzn-container .chzn-results-scroll-up span {
            background: url('../images/chosen-sprite-white.png') no-repeat -22px -3px;
        }
        .chzn-container-single .chzn-single abbr {
            background: url('../images/chosen-sprite-white.png') right top no-repeat;
        }
        .chzn-container-single .chzn-single div b {
            background: url('../images/chosen-sprite-white.png') no-repeat 0 0;
        }

        .chzn-container-multi .chzn-choices .search-choice .search-choice-close {
            background: url('../images/chosen-sprite-white.png') right top no-repeat;
        }

        .chzn-rtl .chzn-search input {
            background: url('../images/chosen-sprite-white.png') no-repeat -38px -22px;
        }
        .chzn-container-active .chzn-single-with-drop div b {
            background: url('../images/chosen-sprite-white.png') no-repeat -18px 1px;
        }

        .chzn-container-single {
            .chzn-single {
                background-color: @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND;
                .bui-background-image-gradient-fn( @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND,
                                                        @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND);
                border: @GLOBAL_DEFAULT_BORDER_WIDTH solid @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND;
                color: @GLOBAL_DEFAULT_HEADER_FOOTER_COLOR;
            }
            .chzn-default {
                color: @GLOBAL_DEFAULT_HEADER_FOOTER_COLOR;
            }
            .chzn-search {
                input {
                    background-color: @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND;
                    background: url('../images/chosen-sprite-white.png') no-repeat 100% -22px;
                }
            }
            .chzn-drop {
                border: 1px solid @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND;
            }
        }

        .chzn-container-multi {
            .chzn-choices {
                background-color: @GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND;
            }
        }

        .header {
            .header-left {
                .logo-top {
                    line-height: @header-height;
                }

                .business-dropdown {
                    padding-top: 11px;
                /*                    padding-bottom: 11px;*/
                }
            }
            .header-right {
                line-height: @header-height;
                .top-menu {
                    .menu-item {
                        float: left;
                        text-align: center;
                        width: 50px;
                        line-height: @header-height;
                    }
                    .chat {
                        background-color: #248abd;
                    }
                    .email {
                        background-color: #3392c2;
                    }
                    .cart {
                        background-color: #429ac6;
                    }
                    .account {
                        background-color: #51a2cb;
                    }
                    .search-item {
                        float: right;
                        line-height: @header-height;
                    }
                }
            }
        }
        
        /* StartOf: Navigation bar related */
		.site-logo-wpr{
			display: inline-block;
			float: left;
			.site-logo{
				padding: 0 10px 0 0;
				img{
					width: 51px;
				}
			}
			.Shop-header{
				font-size: 18px;
				color: #FFFFFF;
				margin-left: 30px;
				&:hover{
							color: #BFE7FB;
							position: relative;
							top: -2px;
						}
			}
			.shop-tab{
				position: relative;
				top: -50px;
				left: 60px;
			}
		}
		
		 /*Global navigation header*/	
		.shop-menu-dropback{
			background-color: #000000;
   		 	bottom: 0;
    		left: 0;
    		position: fixed;
    		right: 0;
    		top: 100px;
    		z-index: 1040;
    		.fade{
    			opacity: 0.0;
    			filter: alpha(opacity=20); /* For IE8 and earlier */
    		}
		}
		.shop-menu-bg{
			background: none repeat scroll 0 0 #FFFFFF;
			width: auto;
			left: 0;
			right: 0;
			height: 50px;
			margin-top: 50px;
			position: absolute;
			border-bottom: 0.5px solid #E7E6E6;
		}
		.shop-menu-wpr{
				background: none repeat scroll 0 0 #FFFFFF;
				width: 980px;
   				height: 50px;
   				margin-top: 50px;
   				position: absolute;
   				border-bottom: 0.5px solid #E7E6E6;
   				
   			.wireless-header{
   				display: inline-block;
    			float: left;
    			font-size: 16px;
    			margin: 0px 30px;
    				a {
				    color: #444444;
				    cursor: pointer;
				    display: inline-block;
				    font-family: inherit;
				    text-decoration: none;
					}
    				a:hover{
    					background-image: url('../common/images/common/header/blue-bar.png');
    					width: auto;
    				}
   			}
   			.internet-header{
   				display: inline-block;
    			float: left;
    			font-size: 16px;
    			margin: 0px 30px;
    			a {
				    color: #444444;
				    cursor: pointer;
				    display: inline-block;
				    font-family: inherit;
				    text-decoration: none;
				}
    			a:hover{
					background-image: url('../common/images/common/header/blue-bar.png');
					width: auto;
    			}
   			}
   			.check-mark-wpr{
   				border-right: 1px solid #E7E6E6;
   			 	display: inline-block;
    			float: left;
    			height: 20px;
    			position: relative;
    			top: 15px;
   			}
   			.selectedOptionIndicator{
				width: 0px;
				height: 0px;
				border-style:solid;
				border-width:0 8px 8px 8px;
				border-color:transparent transparent #ffffff transparent;
				margin-top: -7px;
	    		position: absolute;
			}
		}
		
		/* Endof Global navigation header */
		
		.site-operation-icons{
			display: inline-block;
			float: right;
			
			.site-operation-icon-wpr{
				display: inline-block;
				float: right;
				.hidden-content{
						background-color: transparent;
	    				border: 0 none;
	    				color: transparent;
	    				height:0;
	    				width:0;
	    				font: 0px/0 a;
    				}
				.site-operation-icon{
					background-image: url("../common/images/common/header/header_sprite.png");
					background-position: 0 0;
					background-repeat: no-repeat;
					background-color: transparent;
					width: 52px;
					height: 50px;
					overflow: hidden;
					//padding-top: 15px;
					
					&:hover,
					&.active{
						background-color: none;
					}
				}
				
				#location-icon{
					background-position: 0 0;
					background-color: transparent;
					overflow: hidden;
					&:hover{
							background-position: -51px 0;
						}
				}
				
				#cart-icon{
					background-position: 0 -100px;
					background-color: transparent;
					&:hover{
						background-position: -51px -100px;
					}
					
					&.item-exists{
						background-position: 0 -50px;
							&:hover{
							background-position: -51px -50px;
						}
					}
				}
			}
		}
		
		/* EndOf: Navigation bar related */
    }

}