/**********************************************************************
  File: sb-variables.less
      This file defines all variable properties that will be used thru the website
      DO NOT CHANGE ANY THING HERE
      YOU MAY ADD IN SOME MORE HERE
  Name: Than Le
**********************************************************************/

/*
 * Global definition
 *   1) These values will be used through the website. It make the UI elements consistent.
 *   These values will be referenced cross the site. Any changes from here will affect the
 *   whole website theme.
 *   2) You may override these values when needed in your css file...
 */

@GLOBAL_SCREEN_WIDTH_STANDARD: 980px;
@GLOBAL_SCREEN_WIDTH_FULL: 980px; //Temporarily changing this from '100%' to '980px'. Thereby making the site fixed layout.

@GLOBAL_DEFAULT_FONT_SIZE: 12px;
@GLOBAL_DEFAULT_SMAIL_FONT_SIZE: 9px;
@GLOBAL_DEFAULT_COPYRIGHTS_FONT_SIZE: 8px;
@GLOBAL_DEFAULT_LINE_HEIGHT: 1.4;
@GLOBAL_DEFAULT_BACKGROUND_COLOR: #f2f2f2; //#f8f8f8
@GLOBAL_DEFAULT_CONTENT_BACKGROUND_COLOR: #ffffff;
@GLOBAL_DEFAULT_TEXT_COLOR: #444444;
@GLOBAL_DEFAULT_TEXT_ACTIVE_COLOR: #067ab4;
@GLOBAL_DEFAULT_HIGHLIGHT_COLOR: #808080;
@GLOBAL_DEFAULT_HEADER_FOOTER_COLOR: #ffffff;
@GLOBAL_DEFAULT_HEADER_FOOTER_BACKGROUND: #067ab4;

/* font-family definition */
@GLOBAL_DEFAULT_FONT_FAMILY: 'clearviewatt';
@GLOBAL_DEFAULT_FONT_FAMILY_ITALIC: 'clearviewatt';
@GLOBAL_DEFAULT_LIGHT_FONT_FAMILY: 'clearviewatt_lt';
@GLOBAL_DEFAULT_LIGHT_FONT_FAMILY_ITALIC: 'clearviewatt_lt';
@GLOBAL_DEFAULT_FONT_FAMILY_BOLD: 'clearviewatt';
@GLOBAL_DEFAULT_FONT_FAMILY_BOLD_ITALIC: 'clearviewatt';


/* Omnes font-family definition */
@GLOBAL_OMNES_LIGHT_FONT_FAMILY: 'omnes_attlight';
@GLOBAL_OMNES_LIGHT_FONT_FAMILY_ITALIC: 'omnes_attlight';
@GLOBAL_OMNES_MEDIUM_FONT_FAMILY: 'omnes_attmedium';
@GLOBAL_OMNES_MEDIUM_FONT_FAMILY_ITALIC: 'omnes_attmedium';
@GLOBAL_OMNES_REGULAR_FONT_FAMILY: 'omnes_attregular';
@GLOBAL_OMNES_REGULAR_FONT_FAMILY_ITALIC: 'omnes_attregular';

/* font-weight navigation */
/*@GLOBAL_DEFAULT_FONT_WEIGHT_NAV: 500;*/

/* link definition */

@GLOBAL_DEFAULT_LINK_COLOR: #067ab4;
@GLOBAL_DEFAULT_LINK_HOVER_COLOR: #199ddf;
@GLOBAL_DEFAULT_LINK_ACTIVE_COLOR: #7cc6ff;

/* generic input definition */
@GLOBAL_DEFAULT_INPUT_BACKGROUND_COLOR: #efeeee;
@GLOBAL_DEFAULT_INPUT_HEIGHT: 18px;
@GLOBAL_DEFAULT_INPUT_ROUNDED_CORNER: 4px;
@GLOBAL_DEFAULT_PLACEHOLDER_TEXT: #bbbbbb;

/* generic border definition */

@GLOBAL_DEFAULT_BORDER_COLOR: #E7E6E6;
@GLOBAL_DEFAULT_BORDER_WIDTH: 1px;
@GLOBAL_DEFAULT_SELECT_INPUT_BORDER_COLOR: #aaaaaa;

@GLOBAL_DEFAULT_HR_COLOR: #e3e3e3;

@GLOBAL_PROMOTION_TEXT_COLOR: #fe8907;

/* generic margin, padding definition */
@GLOBAL_DEFAULT_MARGIN: 10px;
@GLOBAL_DEFAULT_PADDING: 10px;

/* default button definition */
@GLOBAL_DEFAULT_ROUNDED_CORNER_RADIUS: 6px;
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR: #067ab4;
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_BEGIN: #199ddf;
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_HOVER: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_BEGIN, 30%);
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_HOVER_BEGIN: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_BEGIN, 30%);

@GLOBAL_ORANGE_BTN_TEXT_COLOR_HOVER: #fcb314;
@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR: #ef6f00;
@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR_BEGIN: desaturate(@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR, 30%);
//@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR_HOVER: desaturate(@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR_HOVER_BEGIN, 30%);
@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR_HOVER:#fcb314;
@GLOBAL_ORANGE_BTN_BACKGROUND_COLOR_HOVER_BEGIN: #fcb314;

@GLOBAL_ORANGE_BTN_SHADOW_COLOR: @GLOBAL_ORANGE_BTN_BACKGROUND_COLOR_BEGIN;



/*@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_HOVER: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_BEGIN, 30%);
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_HOVER_BEGIN: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_BEGIN, 30%);*/

@GLOBAL_DEFAULT_BTN_SHADOW_LENGTH: 1px;
@GLOBAL_DEFAULT_BTN_SHADOW_COLOR: @GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_BEGIN;
@GLOBAL_DEFAULT_BTN_TEXT_COLOR: #ffffff;
@GLOBAL_DEFAULT_BTN_BORDER_COLOR: #949494;

@GLOBAL_DEFAULT_BTN_MIN_WIDTH: 60px;
@GLOBAL_DEFAULT_BTN_FONT_SIZE: 14px;

@GLOBAL_BTN_SMALL_MIN_WIDTH: 60px;
@GLOBAL_BTN_SMALL_FONT_SIZE: 14px;

@GLOBAL_BTN_LARGE_MIN_WIDTH: 100px;
@GLOBAL_BTN_LARGE_FONT_SIZE: 18px;

@GLOBAL_DEFAULT_BTN_RECTANGLE_MIN_WIDTH: 20px;

/* grey button */
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY: #a3a3a3;
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY_SHADOW: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY, 20%);
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY_HOVER: #067ab4;

/*@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY_SHADOW: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY, 20%);
@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY_HOVER: desaturate(@GLOBAL_DEFAULT_BTN_BACKGROUND_COLOR_GREY, 40%);*/


/* Icon definition */
@GLOBAL_DEFAULT_SMALL_SPRITE_IMAGE_WIDTH: 891px;
@GLOBAL_DEFAULT_SMALL_SPRITE_IMAGE_HEIGHT: 36px;
@GLOBAL_DEFAULT_SMALL_ICON_IMAGE_WIDTH: 18px;
@GLOBAL_DEFAULT_SMALL_ICON_IMAGE_HEIGHT: 18px;
@GLOBAL_DEFAULT_ICON_BORDER_RADIUS: 18px;
@GLOBAL_DEFAULT_BACKGROUND_ICON_COLOR: #f8f8f8;

/* header default font-size definition */
@GLOBAL_DEFAULT_H6_FONT_SIZE: 11px;
@GLOBAL_DEFAULT_H5_FONT_SIZE: 13px;
@GLOBAL_DEFAULT_H4_FONT_SIZE: 15px;
@GLOBAL_DEFAULT_H3_FONT_SIZE: 21px;
@GLOBAL_DEFAULT_H2_FONT_SIZE: 30px;
@GLOBAL_DEFAULT_H1_FONT_SIZE: 42px;

/* header default color definition
    h1,h2,h3.h4.h5.h6
*/
@GLOBAL_DEFAULT_HEADER_COLOR: @GLOBAL_DEFAULT_TEXT_COLOR;
@GLOBAL_DEFAULT_HEADER_BACKGROUND_COLOR: #a7cc49;

/* CHOSEN :custom default CHOSEN select tag definition */

// default text, background
@GLOBAL_DEFAULT_CHOSEN_SELECT_TEXT_COLOR: @GLOBAL_DEFAULT_TEXT_COLOR;
@GLOBAL_DEFAULT_CHOSEN_SELECT_BACKGROUND_COLOR: #ffffff;
@GLOBAL_DEFAULT_CHOSEN_SELECT_GRADIENT_BG_END: #ffffff;

// link hover
@GLOBAL_DEFAULT_CHOSEN_SELECT_HOVER_BACKGROUND_COLOR: #067ab4;
@GLOBAL_DEFAULT_CHOSEN_SELECT_LINK_COLOR: #ffffff;
@GLOBAL_DEFAULT_CHOSEN_SELECT_LINK_HOVER_COLOR: #ffffff;

// border
@GLOBAL_DEFAULT_CHOSEN_SELECT_BORDER_COLOR: @GLOBAL_DEFAULT_SELECT_INPUT_BORDER_COLOR;
@GLOBAL_DEFAULT_CHOSEN_SELECT_BORDER_WIDTH: @GLOBAL_DEFAULT_BORDER_WIDTH;
@GLOBAL_DEFAULT_CHOSEN_SELECT_BORDER_RADIUS: 5px;
@GLOBAL_DEFAULT_CHOSEN_SELECT_Z_INDEX: 1010;

// box-shadow
@GLOBAL_DEFAULT_CHOSEN_SELECT_H_SHADOW: 0;
@GLOBAL_DEFAULT_CHOSEN_SELECT_V_SHADOW: 4px;
@GLOBAL_DEFAULT_CHOSEN_SELECT_BLUR: 5px;
@GLOBAL_DEFAULT_CHOSEN_SELECT_SHADOW_COLOR: #f8f8f8;

@GLOBAL_DEFAULT_CHOSEN_SELECT_HEIGHT: 26px;

/* DROPKICK :custom select tag definition */
@GLOBAL_DEFAULT_SELECT_BACKGROUND_COLOR: #ffffff;
@GLOBAL_DEFAULT_SELECT_GRADIENT_BG_END: #f9f9f9;
@GLOBAL_DEFAULT_SELECT_HOVER_BACKGROUND_COLOR: #a3a3a3;
@GLOBAL_DEFAULT_SELECT_TEXT_COLOR: #000000;
@GLOBAL_DEFAULT_SELECT_LINK_COLOR: #73952D;
@GLOBAL_DEFAULT_SELECT_LINK_HOVER_COLOR: #474747;

/* form */
@GLOBAL_DEFAULT_FORM_LABEL_COLOR: #444444;


//AT&T Global Typography related (font-family). Please refer the ".att-typography-styles-fn" mixin in base.less file where these values are supposed to be used..
@ATT_GLOBAL_TYPOGRAPHY_CLEARVIEW_FONT_FAMILY: 'clearviewatt';
@ATT_GLOBAL_TYPOGRAPHY_CLEARVIEW_LIGHT_FONT_FAMILY: 'clearviewatt_lt';
@ATT_GLOBAL_TYPOGRAPHY_OMNES_LIGHT_FONT_FAMILY: 'omnes_attlight';
@ATT_GLOBAL_TYPOGRAPHY_OMNES_MEDIUM_FONT_FAMILY: 'omnes_attmedium';
@ATT_GLOBAL_TYPOGRAPHY_OMNES_REGULAR_FONT_FAMILY: 'omnes_attregular';


//AT&T Global Typography related (font-sizes). Please refer the ".att-typography-styles-fn" mixin in base.less file where these values are supposed to be used..
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE1: 10px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE2: 11px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE3: 12px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE4: 13px;

@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE5: 14px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE6: 15px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE7: 16px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE8: 18px;

@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE9: 20px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE10: 21px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE11: 26px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE12: 30px;

@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE13: 32px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE14: 36px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE15: 42px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE16: 50px;
@ATT_GLOBAL_TYPOGRAPHY_FONT_SIZE17: 60px;


//AT&T Global Typography related (font-colors). Please refer the ".att-typography-styles-fn" mixin in base.less file where these values are supposed to be used..
@ATT_GLOBAL_TYPOGRAPHY_FONT_COLOR1: #FFFFFF; //WHITE
@ATT_GLOBAL_TYPOGRAPHY_FONT_COLOR2: #444444; //GRAY
@ATT_GLOBAL_TYPOGRAPHY_FONT_COLOR3: #444444; //GRAY
@ATT_GLOBAL_TYPOGRAPHY_FONT_COLOR4: #909090; //GRAY
@ATT_GLOBAL_TYPOGRAPHY_FONT_COLOR5: #067AB4; //BLUE

//AT&T Global Colors
@ATT_GLOBAL_COLOR_PRIMARY: #067AB4; //PRIME BLUE
@ATT_GLOBAL_COLOR_PRIMARY_HOVER: #199DDF; //HOVER BLUE
@ATT_GLOBAL_COLOR_SECONDARY_TEXT: #444444; //GRAY TEXT
@ATT_GLOBAL_COLOR_SECONDARY_UI_ELEMENTS: #777777; //GRAY UI ELEMENTS
@ATT_GLOBAL_COLOR_SECONDARY_SUBTLE_HOVER: #BBBBBB; //GRAY_SUBTLE_HOVER
@ATT_GLOBAL_COLOR_SECONDARY_INACTIVE: #DDDDDD; //GRAY_INACTIVE
@ATT_GLOBAL_COLOR_SECONDARY_TABLE_HOVER: #E5E5E5; //GRAY_TABLE_HOVER
@ATT_GLOBAL_COLOR_SECONDARY_BACKGROUND: #F2F2F2; //GRAY_BACKGROUND
@ATT_GLOBAL_COLOR_TERTIARY: #FF7200; //ORANGE BUY NOW
@ATT_GLOBAL_COLOR_WARNING: #FCB134; //YELLOW WARNING
@ATT_GLOBAL_COLOR_ERROR: #FF4539; //RED ERROR
@ATT_GLOBAL_COLOR_GOOD: #6EBB1F; //GREEN GOOD/OK